.button {
  margin: 10px;
  padding: 10px 12.5px;
  border-radius: 50%;
  background: #ffffff;
  color: #c6c4c5;
  box-shadow: $shadow;

  & > .liked {
    color: #ef5350;
  }

  &--big {
    padding: 15px 17.5px;
  }

  &--small {
    padding: 7.5px 10px;
  } 

  &--selected {
    background: linear-gradient(140deg, var(--primary), #ffe7ea);
    color: $white;
  }
}